body,html{
    height:100%;
}
body {
    font-family:monospace;
    background-image: url("/Images/word.avif");
    height:100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}

.box {
    background-color: #caa481ab;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 40px;
   
    box-sizing: border-box;
}

p {
    font-size: 20px;
    text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 35px;
  position:absolute;
  transform: translate(-50%, -50%);
  left:95px;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #000000;
}

.content h2:nth-child(2) {
  color: #03f45f;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 24%,
      33% 20%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 40%,
      84% 45%,
      100% 26%,
      100% 80%,
      0% 30%
    );
  }
}